.vscode
__pycache__

outputs/
pretrained_ner/
train/data/completed
train/data/preprocessed
train/data/raw
pretrained_ner/
pretrained_ner_script/
wandb/
logs/
model_store/

*.csv
*.pkl
*.log
*.gzip
*.mar